{% extends "account/base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
   <div class="login-1">
        <div class="bg-overlay dark-bg">
            <div class="container">
                <div class="rows ws-m">

                    <div class="col-md-offset-3 col-lg-6 mx-auto">
                        <div class="form-wrapper">
                            <div class="form" style="margin-top: 20%;margin-bottom: 20%;padding: 5%;border:0px solid #2b2b2b;">

                                    <h5 class="card-title">
                                        {% trans "Password Reset" %}
                                    </h5>

                                      {% if user.is_authenticated %}
                                        {% include "account/parts/already_logged_in.html" %}
                                      {% endif %}

                                      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                                      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                        {% csrf_token %}
                                        {{ form|crispy }}<br><br>
                                        <div class="form-actions">
                                          <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary"/>
                                        </div>
                                      </form>

                                      <br>

                                      <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
