{% extends "account/base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="login-1">
        <div class="bg-overlay dark-bg">
            <div class="container">
                <div class="rows ws-m">

                    <div class="col-md-offset-3 col-lg-6 mx-auto">
                        <div class="form-wrapper">
                            <div class="form" style="margin-top: 20%;margin-bottom: 20%;padding: 5%;border:0px solid #2b2b2b;">


                                <h5 class="card-title">
                                    {% trans "Register New Account" %}
                                  </h5>

                                  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                                  </p>

                                  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    {% if redirect_field_value %}
                                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                    {% endif %}<br><br>
                                    <div class="form-actions">
                                      <button class="btn btn-primary" type="submit">
                                        {% trans "Sign Up" %} &raquo;
                                      </button>
                                    </div>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
