<!DOCTYPE html>
<html class="no-js" lang="en">
{% load humanize %}
{% include "head.html" %}

<body id="page-top" class="dark-bg" data-spy="scroll" data-target=".navbar">

    {% include 'header.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}

    {% include "scripts.html" %}

</body>

</html>