{% extends 'base.html' %}
{% block content %}
        <!-- ========== Page Title ========== -->

        <header class="page-title pt-dark pt-plax-lg-dark">
          <div class="container">
            <div class="row">
              <h1 class="col-sm-6">F.A.Q.</h1>
              <ol class="col-sm-6 text-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">FAQ</li>
              </ol>
            </div>
          </div>
        </header>



        <!-- ========== FAQ Layout - 1 ========== -->

        <section class="container section">
          <div class="row ws-m">
            <header class="sec-heading">
              <h2>General Questions</h2>
              <span class="subheading">Frequently Asked Questions</span>
            </header>

            <div class="col-md-offset-3 col-md-6 text-center">
              <p>You have questions related to COVID-19? We'll make sure you have it answered.</p>
            </div>
          </div><!-- / .row -->

          <div class="row">
            <div class="col-md-offset-3 col-md-6">

              <!-- FAQ Accordion -->
              <div class="panel-group accordions-1" id="faq-accordion-1" role="tablist" aria-multiselectable="true">

                <!-- Item 1 -->
                <div class="panel panel-default dark-bg">
                  <div class="panel-heading" role="tab" id="heading-1">
                    <h2 class="panel-title">
                      <span role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                        What is the recovery time for the coronavirus disease?
                      </span>
                    </h2>
                  </div>
                  <div id="collapse-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-1">
                    <div class="panel-body">
                      Using available preliminary data, the median time from onset to clinical recovery for mild cases is approximately 2 weeks and is 3-6 weeks for patients with severe or critical disease.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 2 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-2">
                    <h2 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                        What happens when you get the coronavirus disease?
                      </span>
                    </h2>
                  </div>
                  <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                    <div class="panel-body">
                      People with COVID-19 generally develop signs and symptoms, including mild respiratory symptoms and fever, on an average of 5-6 days after infection (mean incubation period 5-6 days, range 1-14 days). Most people infected with COVID-19 virus have mild disease and recover.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 3 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-3">
                    <h2 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                        Who is most at risk for the coronavirus disease?
                      </span>
                    </h2>
                  </div>
                  <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                    <div class="panel-body">
                      People of all ages can be infected by the new coronavirus (2019-nCoV). Older people, and people with pre-existing medical conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely ill with the virus.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 4 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-4">
                    <h2 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                        Is the coronavirus disease the same as SARS?
                      </span>
                    </h2>
                  </div>
                  <div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
                    <div class="panel-body">
                      No. The virus that causes COVID-19 and the one that caused the outbreak of Severe Acute Respiratory Syndrome (SARS) in 2003 are related to each other genetically, but the diseases they cause are quite different.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 5 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-5">
                    <h2 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                        Can coronavirus spread through mosquito bite?
                      </span>
                    </h2>
                  </div>
                  <div id="collapse-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-5">
                    <div class="panel-body">
                      To date there has been no information nor evidence to suggest that the new coronavirus could be transmitted by mosquitoes. The new coronavirus is a respiratory virus which spreads primarily through droplets generated when an infected person coughs or sneezes, or through droplets of saliva or discharge from the nose. To protect yourself, clean your hands frequently with an alcohol-based hand rub or wash them with soap and water. Also, avoid close contact with anyone who is coughing and sneezing.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 6 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-6">
                    <h2 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                        Does chlorine kill Coronavirus?
                      </span>
                    </h2>
                  </div>
                  <div id="collapse-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-6">
                    <div class="panel-body">
                      Weak chlorine solution (0.05%) can be used to disinfect hands when there is no alcohol based hand rub (ABHR) or soap. However, weak chlorine solutions are not recommended when alcohol based hand rub or soap and water are available as there is a higher risk of hand irritation and ill health effects from making and diluting chlorine solutions. Further chlorine solutions must be made daily, stored in a cool dry place with a lid away from sunlight, otherwise they have the potential to lose potency and efficacy at disinfection. Chlorine is effective as a decontamination (at 0.5%) for environmental cleaning when preceded by cleaning with soap and water.
                    </div>
                  </div>
                </div><!-- / .panel -->

                <!-- Item 7 -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-7">
                    <h2 class="panel-title">
                      <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                        Are smokers more vulnerable to the coronavirus disease?
                      </span>
                    </h2>
                  </div>
                  <div id="collapse-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-7">
                    <div class="panel-body">
                      Smokers are likely to be more vulnerable to COVID-19 as the act of smoking means that fingers (and possibly contaminated cigarettes) are in contact with lips which increases the possibility of transmission of virus from hand to mouth. Smokers may also already have lung disease or reduced lung capacity which would greatly increase risk of serious illness. Smoking products such as water pipes often involve the sharing of mouth pieces and hoses, which could facilitate the transmission of COVID-19 in communal and social settings.
                    </div>
                  </div>
                </div><!-- / .panel -->

              </div><!-- / .panel-group .accordion-1 -->

              <span class="faq-contact-links"><i class="fa fa-info-circle"></i> If you have more questions, feel free to contact us.
            </div><!-- / .col-md-6 -->
          </div><!-- / .row -->
        </section><!-- / .container -->

{% endblock %}