<!-- ========== Scripts ========== -->
{% load static %}
        <script src="{% static 'js/vendor/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/vendor/google-fonts.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.easing.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap-hover-dropdown.min.js' %}"></script>
        <script src="{% static 'js/vendor/smoothscroll.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.localScroll.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.parallax.js' %}"></script>
        <script src="{% static 'js/vendor/slick.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'js/vendor/countup.min.js' %}"></script>
        <script src="{% static 'js/vendor/isotope.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/vendor/wow.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.ajaxchimp.js' %}"></script>
        <script src="{% static 'js/vendor/animDots.js' %}"></script>
        <script src="{% static 'js/highlight.pack.js' %}"></script>


        <!-- Definity JS -->
        <script src="{% static 'js/main.js' %}"></script>